.container-forms{
    display: block;
    border: 1px solid #bab6b6;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 80px;
    margin-right: 80px;  
    margin-bottom: 15px;
   
}

.text-container-form{
    width: auto;
    border-bottom: 1px solid #bab6b6;
    background-color: #f5f5f5f7;
}

.u-label{
    margin-top: 10px;
    margin-left: 20px;
}

.u-input-rectangle{
    border-radius: 5px;
    margin-left: 20px;
    width: 920px;
}


.u-text-2{
    padding: 10px;
    padding-left: 20px;
    border-radius: 5px;
    margin-top: 100px;
}

.u-text-3{
    padding: 10px;
    border-radius: 5px;
    margin-top: 100px;
}

/*  FORM NAME   */
.u-form-name {
    display: inline-block;
    vertical-align: top;
    
}

.u-input-name-rec{  
    width: 450px;

}

  


/*  DATE FORM */
.u-form-date{
    display: inline-block;
    vertical-align: top;
    
}

.u-form-group-7 label {
    display: block;
  }

  .u-form-group-7 input {
    display: block;
    margin-top: 10px;
    margin-left: 20px;
  }

.u-input-date-rec{
    width: 450px;
    
}

.u-field-label{
    margin-right: 20px ;
}

.u-form-checkbox-group-wrapper{
    margin-left: 20px;
}

/* DIV IMAGEN*/
.card{
    margin-left:20px ;
    width: 450;
    border: none;
    background: #fff;
    border-radius: 15px;
    text-align: center;
    /*color: #333;*/
    display: flex;
    flex-direction: column;
    align-items: left;
}

.image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

.card img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    
}

.foto{
    display: block;
    width: 120px;
    border: 2px solid #6DB8BB;
    background: #fff;
    color: #6DB8BB;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.foto:hover {
    background: #6DB8BB; /* Cambia el color de fondo al pasar el cursor sobre el elemento */
    color: #fff; /* Cambia el color del texto al pasar el cursor sobre el elemento */
}

.fotoinput{
    display: none;
}


.btn-primary{
    margin: 15px;
    border-radius: 5px;

}


.container-contacts{
    border: 2px solid #dcdcdc69;
    border-radius: 5px;
    margin-top: 5px;
    padding-bottom: 10px;
}

.cancel-button{
    background: #8D9775;
    border: none;
    
}

.cancel-button:hover {
    background: #747d61; /* Cambia el color de fondo al pasar el cursor sobre el elemento */
    color: #fff; /* Cambia el color del texto al pasar el cursor sobre el elemento */
}

.add-button{

    background: #E38F84;
    border: none;
    
}

.add-button:hover {
    background: #d1796d; /* Cambia el color de fondo al pasar el cursor sobre el elemento */
    color: #fff; /* Cambia el color del texto al pasar el cursor sobre el elemento */
}