.u-section-1 .u-sheet-1 {
  min-height: 1366px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  font-weight: 700;
  letter-spacing: 10px;
  margin-top: 20px;
}

.u-section-1 .u-form-1 {
  height: 1240px;
  width: 955px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  font-weight: 700;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
  font-weight: 700;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-form-group-13 {
  margin-left: 0;
}

.u-section-1 .u-form-group-14 {
  margin-left: 0;
}

.u-section-1 .u-form-group-15 {
  margin-left: 0;
}

.u-section-1 .u-form-group-16 {
  margin-left: 0;
}

.u-section-1 .u-form-group-17 {
  margin-left: 0;
}

.u-section-1 .u-form-group-18 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  letter-spacing: 1px;
  background-image: none;
  margin: -65px auto 60px 310px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 940px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 110px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}